
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import 'assets/css/boxes.css';
@import 'assets/css/nav.css';

body {
    background: #F8F8F8;
    font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.cfx {
    clear: both;
    width: 100%;
}

#header {
    background: #FFF;
    height: 55px;
    width: 100%;
}

#header > .logo {
    float: left;
}

#header > .hd {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: #5db5b7;
    font-size: xx-large;
    font-weight: 400;
    float: left;
    margin-left: 15px;
}

#header > hr.vertical {
    border: 0;
    margin: 0;
    border-left: 1px solid rgb(107, 107, 107);
    height: 50px;
    float: left;
    margin-left: 15px;
}

#background {
    background: url('assets/images/macchine.jpg');
    background-size: cover;
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

p {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    display: inline;
    padding: 25px;
}

p.info {
    padding: 545px;
}

.jumbo {
    color:rgb(255, 255, 255);
    width: 100%;
}

.jumbo > .content {
    color: #ffffff;
    margin: auto;
    width: 65%;
}

.jumbo > .content > h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 45px;
}

.jumbo > .content > h3 {
    font-size: 28px;
    margin-top: 0;
}

.jumbo > .content > p {
    font-size: 50px;
    font-weight: 700;
}

.info {
    background: #FFF;
    margin-top: 25px;
    width: 100%;
}

.info > .content {
    padding: 10px 25px;
    width: calc(100% - 50px);
}
.info h3 {
    color: #5db5c4;
}


.q1 {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    padding-left: 175px;
}

.q1 h2 {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
}

