.box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 3px 0 10px 0 rgb(112 112 112 / 45%);
    color: #333;
    float: left;
    margin-right: 37px;
    padding: 10px 25px;
    width: calc(33.3% - 75px);
    flex: 20%;
}

.box > .content, .box > .link, .box > .title {
    clear: both;
    width: 100%;
}

.box > .content {
    margin-bottom: 10px;
}

.box > .content > p {
    color: #333;
    padding: 0;
}

.box > .link > a, .box > .link > a > .lni {
    color: #5db5c4;
    font-weight: bold;
}

.box > .title > h3 {
    float: left;
    margin-left: 15px;
}

.box > .title > img {
    float: left;
    margin-left: 15px;
}

.box h3 {
    font-size: 28px;
    font-weight: bold;
}

.boxes {
    display: flex;
    flex-direction: row;
    clear: both;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .boxes {
        flex-direction: column;
    }
    .box {
        margin: 13px;
        padding: 20px 22px;
        width: 100%;
    }
}
